html {
  height: 100%;
}

body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-family: sans-serif;
  height: 100%;
}

#hat {
  background-repeat: repeat-x;
  height: 6rem;
  background-position-y: bottom;
  font-size: 6em;
  padding-left: 20px;
  color: #ff6824;
}

#editPagePics {
  background: url('/images/edit.jpg');
  background-repeat: no-repeat;

}

.separator {
  display: block;
  width: 100%;
  height: 50px;
  clear: both;
}

h1 {
  color: #dc6324;
  margin-left: -15px;
}

h2 {
  color: #c66123;
  margin-left: -10px;
}

h3 {
  color: #af4b1b;
  margin-left: -5px;
}

#menuBar {
  width: 100%;
  margin: 0;
  padding: 0;
}

#mainMenu {
  width: 100%;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  height: 2rem;
  border-bottom: #3a3a3a;

}

#urlInput {
  line-height: 1.2rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid;
}

#nameInput {
  line-height: 1.2rem;
  width: 253px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid;
}

#content-margin {
  margin-left: 124px;
  margin-right: 89px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.55);
  border-left: 2px solid #c0c0c0;
  border-right: 2px solid #c0c0c0;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 130px;
  padding-top: 70px;
}

#tableMenu .menuItem {
  border-bottom: 2px solid #c0c0c0;
}

#tableMenu .menuItemSelected {
  border-left: 2px solid #c0c0c0;
  border-top: 2px solid #c0c0c0;
  border-right: 2px solid #c0c0c0;
  border-radius: 5px;
}

.menuItem a:hover {
  color: #880000;
  text-decoration: none;
}


.editFulling {
  display: none;
}


.mainMenu {
  margin-left: 124px;
  margin-right: 89px;
  /* padding-bottom: 20px; */
}

#tableMenu {
  border: 1px solid rgba(255,255,255,0);
}

#tableMenu td {
  border: none;
  height: 40px;
}