<template name="deletedPics">
    <p>Здесь хранится все, что вы удалили из галереи. Восстановить можно, но только в тот же объект, из которого было удалено.</p>
    <table>
        <tr>
            <th>Изображение</th>
            <th colspan="2">Объект, к которому относилась</th>
        </tr>
    {{#each deletedImages}}
        <tr class="{{galId}}">
            <td>{{> imagePreview image=avatar transformation="avatar"}}<br /></td>
            <td>&laquo;{{parentObj.object}}&raquo;</td>
            <td><a href="#" id="{{parentObj._id}}">Восстановить</a></td>
        </tr>
    {{/each}}
    </table>
</template>