<template name="gallery">
    <div id="globalNode">
        <!-- Показывает текущие фотографии ОБЪЕКТА ГАЛЕРЕИ и позволяет добавлять новые -->
        <div class="photoAdd">
            <input type="button" class="closeWindow" style="position: fixed; top: 0; right: 20px;" value="X" />

            {{> uploadImage}}
            {{#each pictures}}
                {{> image image=value.avatar index=index transformation="avatar"}}<br />
            {{/each}}
        </div>
        <!-- / -->
        <!-- Создание нового ОБЪЕКТА ГАЛЕРЕИ -->
        <div class="galleryNewObject">
            <input type="button" class="closeWindow" value="X" />
            <form class="createNewObject">
                <table class="objectAdd">
                    <tr class="firstTr">
                        <td class="firstTd"><input type="text" placeholder="Наименование объекта" class="objectName" /></td>
                        <td class="secondTd"><textarea placeholder="Краткое описание объекта" class="objectDesc" ></textarea></td>
                    </tr>
                    <tr class="secondTr">
                        <td colspan="2"><input type="submit" value="Добавить объект" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- / -->
        <!--  Прорисовка существующих ОБЪЕКТОВ ГАЛЕРЕИ, если есть хоть один -->
    {{#if galleryExists}}
        <div class="preview">

            <!-- <input type="button" class="closeWindow" value="X" /> -->
            <div class='blurDiv' style="background-image: url('http://res.cloudinary.com/sonekpro/image/upload/t_preview/{{imageP}}')">&nbsp;</div>
            <div class='clearDiv' style="background-image: url('http://res.cloudinary.com/sonekpro/image/upload/t_preview/{{imageP}}')">
                <img src="/images/trash.png" class="trash" id="{{imageI}}"/>
            </div>

            <!-- <img src="http://res.cloudinary.com/sonekpro/image/upload/t_preview/{{imageP}}" /> -->
            <div class="galleryNav">
                <span id="nav-right" style="float: right;"><sup>&#8250;</sup></span>
                <span id="nav-left" style="float: left;"><sup>&#8249;</sup></span>
            </div>

        </div>
        <!--  -->
        {{#each galleryExists}}
            <div class="galObject" id="{{_id}}" style="background-image: url({{backgroundImage}})">
                <h3>{{{object}}}</h3>
                <span>{{{description}}}</span>
                {{#unless pixExist}}
                    <br/><br /><span style="color: #880000" class="noView">Не отображается в галерее: фотографии объекта отсутствуют.</span>
                {{/unless}}
            </div>
        {{/each}}
    <div class="galNewObject">Добавить еще один объект</div>
        <div id="separator">&nbsp;</div>
        {{else}}
        <!-- Создание ПЕРВОГО ОБЪЕКТА ГАЛЕРЕИ -->
        <input type="button" class="galleryCreate" value="Создать первый объект в галерее." />
    {{/if}}
        <!-- / -->
    </div>

</template>

