<template name="trothuar">

        <div id="globalNode">
            {{#if trothuarExists}}
                <!-- edit current chosen panel in price-list -->
                <div id="editCurrPanel">
                    {{#if editCurrPrice}}
                        <input type="button" class="closeWindow" value="X" />
                        <form class="editCurrPrice">
                            <table>
                                <tr>
                                    <th id="first">Внешний вид</th>
                                    <th id="second">Наименование</th>
                                    <th id="third">Площадь, м&sup2;</th>
                                    <th id="fourth">Масса, кг</th>
                                    <th id="fifth">Стоимость, &#8381;</th>
                                </tr>
                                <tr>
                                    <td>
                                        {{> uploadImage}}
                                    </td>
                                    <td><input type="text" class="ePanelName" value="{{editCurrPrice.panelName}}"/></td>
                                    <td><input type="text" class="ePanelSqr" value="{{editCurrPrice.panelSqr}}"/></td>
                                    <td><input type="text" class="ePanelWeight" value="{{editCurrPrice.panelWeight}}" /></td>
                                    <td><input type="text" class="ePanelPrice" value="{{editCurrPrice.panelPrice}}" /></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="priceSpan">
                                        {{#if active}}
                                            <input type="button" class="inactivate" value="Исключить из каталога" />
                                        {{else}}
                                            <input type="button" class="activate" value="Восстановить в каталоге" />
                                        {{/if}}
                                    </td>
                                    <td class="priceSubmit"><input type="submit" value="Внести изменения"/></td>
                                </tr>
                            </table>
                        </form>
                    {{/if}}
                </div>
                <!-- /edit -->
                <h3>Редактировать описание и сожержание страницы.</h3>
                <!-- toggle switch -->
                Содержание страницы
                <label class="switch">
                    <input type="checkbox" class="contentFulling">
                    <div class="slider"></div>
                </label>
                Наполнение таблицы
                <!-- /toggle switch -->

                <!-- edit current pricePage content -->
                <form class="editContent" id="{{trothuarExists._id}}">
                    architecton.ru/pages/<input type="text" id="pageUrl" placeholder="url" value="{{trothuarExists.url}}"/><br />
                    <input type="text" id="pageName" value="{{trothuarExists.pageName}}" /><br />
                    <textarea id="cleditorSt" value="{{trothuarExists.pageContent}}"></textarea>
                    <input type="submit" value="Редактировать" />
                    {{#if chapterActive}}
                        <input type="button" class="chapterActive" value="пометить раздел неактивным" />
                    {{else}}
                        <input type="button" class="chapterActive" value="пометить раздел активным" />
                    {{/if}}
                </form>
                <!-- /edit -->
                <!-- create panels in priceList -->
                <form class="editFulling">
                    <table>
                        <tr>
                            <th id="first">Внешний вид</th>
                            <th id="second">Наименование</th>
                            <th id="third">Площадь, м&sup2;</th>
                            <th id="fourth">Масса, кг</th>
                            <th id="fifth">Стоимость, &#8381;/м&sup2;</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" class="panelName" /></td>
                            <td><input type="text" class="panelSqr" /></td>
                            <td><input type="text" class="panelWeight" /></td>
                            <td><input type="text" class="panelPrice" /></td>
                        </tr>
                        <tr>
                            <td colspan="4" class="priceSpan">&nbsp;</td>
                            <td class="priceSubmit"><input type="submit" value="Внести в прайс-лист"/></td>
                        </tr>
                        <!-- /create -->
                        <!-- view recent panels -->
                        {{#each price}}
                            <tr class="currPanel" id="{{_id}}">
                                <td><img src="{{panelImage}}" class="panelImage"/></td>
                                <td>{{{panelName}}}</td>
                                <td>{{panelSqr}}</td>
                                <td>{{panelWeight}}</td>
                                <td>{{panelPrice}}</td>
                            </tr>
                        {{/each}}
                        {{#each inactivePrice}}
                            <tr class="currPanel inactivePanel" id="{{_id}}">
                                <td><img src="{{panelImage}}" class="panelImage"/></td>
                                <td>{{{panelName}}}</td>
                                <td>{{panelSqr}}</td>
                                <td>{{panelWeight}}</td>
                                <td>{{panelPrice}}</td>
                            </tr>
                        {{/each}}
                        <!-- /view -->
                    </table>
                </form>

            {{else}}
                <h3>Создание содержания и наполнения прайс-листа.</h3>

                <!-- first create priceListContent -->
                <form class="createContent">
                    architecton.ru/pages/<input type="text" id="pageUrl" placeholder="url" /><br />
                    {{> pageNameContent}}
                </form>
                <!-- /create -->

            {{/if}}
        </div>

</template>