<template name="pages">

    {{{data}}}
    <div class="separator"></div>
    <!-- ТЕРМОПАНЕЛИ -->
    {{#if thermoPanel}}

        <table>
            <tr>
                <th id="first">Внешний вид</th>
                <th id="second">Наименование</th>
                <th id="third">Размеры Д&times;В&times;Г, мм</th>
                <th id="fourth">Масса, кг</th>
                <th id="fifth">Стоимость, &#8381;</th>
            </tr>
        {{#each thermoPanel}}
            <tr id="{{_id}}" class="clientPreview">
                <td><img src="{{panelImage}}" /></td>
                <td>{{{panelName}}}</td>
                <td>{{panelLength}}&times;{{panelHeight}}&times;{{panelDepth}}</td>
                <td>{{panelWeight}}</td>
                <td>{{panelPrice}}</td>
            </tr>
        {{/each}}
    </table>
    {{/if}}
    <!-- / -->
    <!-- ТРОТУАРНАЯ ПЛИТКА -->
    {{#if plitka}}
        <table>
            <tr>
                <th id="first">Внешний вид</th>
                <th id="second">Наименование</th>
                <th id="third">Площадь, м&sup2;</th>
                <th id="fourth">Масса, кг</th>
                <th id="fifth">Стоимость, &#8381;</th>
            </tr>
            {{#each plitka}}
                <tr id="{{_id}}" class="clientPreview">
                    <td><img src="{{panelImage}}" /></td>
                    <td>{{{panelName}}}</td>
                    <td>{{panelSqr}}</td>
                    <td>{{panelWeight}}</td>
                    <td>{{panelPrice}}</td>
                </tr>
            {{/each}}
        </table>
    {{/if}}
    <!-- / -->
    <!-- ПРАЙС-ЛИСТ -->
    {{#if price}}
        {{#if thermoActive}}
            <nobr><a href="#" class="generate-pdf">Скачать актуальный прайс-лист</a>, <img src="/images/pdf.png" /></nobr>
    <h3>Термопанели</h3>
    <table>
        <tr>
            <th id="first">Внешний вид</th>
            <th id="second">Наименование</th>
            <th id="third">Размеры Д&times;В&times;Г, мм</th>
            <th id="fourth">Масса, кг</th>
            <th id="fifth">Стоимость, &#8381;</th>
        </tr>
        {{#each thermoPrice}}
            <tr>
                <td><img src="{{panelImage}}" /></td>
                <td>{{{panelName}}}</td>
                <td>{{panelLength}}&times;{{panelHeight}}&times;{{panelDepth}}</td>
                <td>{{panelWeight}}</td>
                <td>{{panelPrice}}</td>
            </tr>
        {{/each}}
    </table>
        {{/if}}
        {{#if plitkaActive}}
    <h3>Тротуарная плитка</h3>
    <table>
        <tr>
            <th id="first">Внешний вид</th>
            <th id="second">Наименование</th>
            <th id="third">Площадь, м&sup2;</th>
            <th id="fourth">Масса, кг</th>
            <th id="fifth">Стоимость, &#8381;</th>
        </tr>
        {{#each plitkaPrice}}
            <tr>
                <td><img src="{{panelImage}}" />
                </td>
                <td>{{{panelName}}}</td>
                <td>{{panelSqr}}</td>
                <td>{{panelWeight}}</td>
                <td>{{panelPrice}}</td>
            </tr>
        {{/each}}
        </table>
            {{/if}}
    {{/if}}
    <!-- / -->
    <!-- ГАЛЕРЕЯ -->
    {{#if gallery}}
        <h3>Галерея</h3>
        <div class="photoAdd">
            <input type="button" class="closeWindow" style="position: fixed; top: 0; right: 20px;" value="X" />
            {{#each pictures}}
                {{> image image=value.avatar index=index transformation="avatar"}}<br />
            {{/each}}

        </div>
        <div class="preview">
            <div class='blurDiv' style="background-image: url('http://res.cloudinary.com/sonekpro/image/upload/t_preview/{{imageP}}')">&nbsp;</div>
            <div class='clearDiv' style="background-image: url('http://res.cloudinary.com/sonekpro/image/upload/t_preview/{{imageP}}')">&nbsp;</div>
            <div class="galleryNav">
                <span id="nav-right" style="float: right;"><sup>&#8250;</sup></span>
                <span id="nav-left" style="float: left;"><sup>&#8249;</sup></span>
            </div>

        </div>
        {{#each gallery}}
            {{#if pixExist}}
            <div class="galObject" id="{{_id}}" style="background-image: url({{backgroundImage}})">
                <h3>{{{object}}}</h3>
                <span>{{{description}}}</span>
            </div>
            {{/if}}
        {{/each}}
        <div class="separator"></div>
    {{/if}}
    <!-- / -->
</template>