<head>
    <title>ARCHITECTON prjct</title>
</head>

<body>


</body>

<template name="layout">
    <div class="page-wrap">
        <div id="hat">&nbsp;</div>
        <!-- главное меню -->
        <div class="mainMenu">
        <table style="width: 100%;" id="tableMenu">
            <tr>
                <td style="width: {{tableWidth}}%;" class="menuItem">
                    {{#if mainPage}}
                        {{homepage.pageName}}
                    {{else}}
                    <a href="{{pathFor route='main'}}">{{homepage.pageName}}</a>
                    {{/if}}
                </td>
                {{#each commonPages}}
                    <td style="width: {{tableWidth}}%;" class="menuItem">
                        {{#if isCurrentUrl}}
                            {{pageName}}
                        {{else}}
                            <a href="{{pathFor route='pages'}}">{{pageName}}</a>
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
        </table>
        </div>
        <!-- / -->

        {{> slider}}
        <div id="content-margin">
            {{> yield}}
        </div>
    </div>
    <footer class="site-footer">
        <div style="margin-left: 20px;">
            &copy;&nbsp;{{currentYear}}, Проект &laquo;Архитектон&raquo;<br/>Группа <a href="http://vk.com/">ВКонтакте</a><br />Телефон: <nobr>+7 913 460&ndash;10&ndash;49</nobr>
        </div>
    </footer>
</template>